// Import all of Bootstrap's CSS

@import '~bootstrap/scss/bootstrap';
@import './components/card';
@import './components/pagination';
@import './components/svg';
@import './components/video';
@import './components/img';
@import './components/menu';
@import './layout/main';

html {
  scroll-behavior: smooth;
}

.app-wrapper {
  display: flex;
  flex-direction: row;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
}
