.card {
  max-width: 250px;
  animation: append-animate 0.3s linear;

  .card-body {
    padding: 0px;

    .word-container {
      padding: 0.5rem;
      .word-translate {
        display: block;
      }

      .sound-icon {
        width: 20px;
      }
    }

    .text-meaning {
      padding: 0.5rem;
      .text-meaning-translate {
        display: block;
      }
    }

    .text-example {
      padding: 0.5rem;
      .text-example-translate {
        display: block;
      }
    }
  }
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
