.card {
  max-width: 250px;

  .card-body {
    padding: 0px;

    .word-container {
      padding: 0.5rem;
      .word-translate {
        display: block;
      }

      .sound-icon {
        width: 20px;
      }
    }

    .text-meaning {
      padding: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .text-meaning-translate {
        display: block;
      }
    }

    .text-example {
      padding: 0.5rem;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      .text-example-translate {
        display: block;
      }
    }
  }
}
