.sidebar {
  // width: 280px;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.navbar-brand {
  font-size: 37px;
}   

.nav-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
}

.offcanvas-md {
  transition: all 0.3s;
}

.offcanvas-md.show .sidebar {
  transform: translateY(80px);
}