.card-wrapper-games {
  gap: 30px;
  margin: 20px;

  .card {
    max-width: 360px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(95%);
    }

    .icon-audio-challenge {
      margin-top: 10px;
    }
  }
}

.mini-card-wrapper-games-textbook {
  gap: 10px;
  padding: 10px;
  max-width: 323px;
  margin: auto;

  .card {
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(95%);
    }
  }
}

.mini-card-wrapper-games-dictionary {
  gap: 10px;
  padding: 10px;
  max-width: 344px;
  margin: auto;
  border-radius: 0px 0px 8px 8px;

  .card {
    padding: 10px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      transform: scale(95%);
    }
  }
}

.wrapper-levels {
  margin-top: 30px;
  gap: 20px;

  h2 {
    font-weight: 700;
  }

  .levels-container {
    padding: 20px;
    gap: 20px;

    .level {
      border-radius: 50%;
    }
  }
}

.countdown-canvas-sprint-start,
.countdown-canvas-audio-challenge-start {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -50px;
  margin-right: -50px;
}

.game-container {
  padding-top: 30px;
  gap: 30px;

  .card-container {
    padding: 20px;
    text-transform: capitalize;

    .btn-wrapper {
      margin-top: 30px;
      gap: 30px;
    }
  }
}
