#main {
  min-height: calc(100% - 140px);

  @media (max-width: 767px) {
    min-height: calc(100vh - 140px);
  }

  @media (max-width: 530px) {
    min-height: calc(100vh - 197px);
  }
}

.preview,
.ourAdvantages,
.ourPosibilities,
.ourTeam {
  padding: 35px 20px;
}

.preview {
  height: 400px;

  @media (max-width: 860px) {
    height: auto;
  }
}

.preview .card-title {
  font-size: 60px;
  font-weight: 700;
  text-align: center;

  @media (max-width: 767px) {
    height: auto;
  }
}

main .section-title {
  margin-bottom: 30px;
  font-size: 35px;
}

.preview .container-fluid {
  @media (max-width: 860px) {
    flex-direction: column;
    gap: 15px;
  }
}

.ourAdvantages .d-flex {
  max-width: 995px;
  margin: 0 auto;

  @media (max-width: 1710px) {
  }
}

.ourTeam .container-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
